<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <meta name="theme-color" content="#F97B22"/>

    <link rel="icon" href="./32x32.png" />
    <link rel="apple-touch-icon" href="/Icons/192x192.png">
    <link rel="manifest" href="./app.webmanifest">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
    <title>FoodHub</title>
  </head>
  <body>
    <a href="#postsItem" class="skip-content">Skip To Explore Food</a>
    <header>
      <nav>
        <h1 class="nav-title" tabindex="0">
          Food<span tabindex="-1">.Hub</span>
        </h1>
        <button id="hamburgerButton">☰</button>
        <div id="navigationDrawer" class="nav-list">
          <li><a href="#/homepage">Home</a></li>
          <li><a href="#/favorite-page">Favorite</a></li>
          <li><a href="https://github.com/Gerry-Geraldy">About Us</a></li>
        </div>
      </nav>
    </header>
    <main  id="mainContent"></main>
    <footer>
      <section class="footer-links">
        <div class="links">
          <ul class="sub-links">
            <b class="title" tabindex="0">Tentang Penulis</b>
            <li>
              <a href="https://web.facebook.com/geraldy.latris/" t>Facebook</a>
            </li>
            <li>
              <a href="https://www.instagram.com/geraldylatris/">Instagram</a>
            </li>
            <li><a href="https://twitter.com/geraldylatris">Twitter</a></li>
            <li><a href="https://github.com/Gerry-Geraldy">Github</a></li>
          </ul>
        </div>
        <div class="links">
          <ul class="sub-links">
            <b class="title" tabindex="0">Privacy</b>
            <li><a href="#">Knowlegde</a></li>
            <li><a href="#">Service Level Agreement</a></li>
            <li><a href="#">Service Rule</a></li>
            <li><a href="#">Payment Guide</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="links">
          <ul class="sub-links">
            <b class="title" tabindex="0">More Movies</b>
            <li><a href="#">Movies International</a></li>
            <li><a href="#">Blog & More Websites</a></li>
            <li><a href="#">Top Movies</a></li>
          </ul>
        </div>
        <div class="links">
          <ul class="sub-links">
            <b class="title" tabindex="0">Statistik</b>
            <li><a href="#">Online User: 500</a></li>
            <li><a href="#">Today Visit: 30</a></li>
            <li><a href="#">Total Visitors: 20.000</a></li>
          </ul>
        </div>
      </section>
    </footer>
  </body>
</html>
